<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="author" content="Sven Lange"/>
    <link href="../../bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <title>{{memoTitle}}</title>
    <link rel="canonical" href="http://svenlange.co.za/memo/{{newUrl}}/"/>
</head>
<body itemscope="itemscope" itemtype="http://schema.org/CreativeWork">
<div class="container"><div class="row"><div class="col-xs-12">

<header></header>

<h1 itemprop="headline">{{memoTitle}}</h1>

<p itemprop="description">TBD: Description</p>


TBD: Memo

<hr/>
<p>
    <small>Date published: <span itemprop="datePublished">{{datePublished}}</span></small><br/>
    <small>Date modified: <span itemprop="dateModified">{{dateModified}}</span></small><br/>
    <small>Keywords: <span itemprop="keywords">{{keywords}}</span></small>
</p>

<footer></footer>
</div></div></div>
</body>
</html>
